<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Home</h1>
        <div class="mt-4">
            <a href="/upload/reconstruction" class="btn {{ 'btn-success' if reconstruction_uploaded else 'btn-primary' }}">Reconstruction</a>
            <a href="/upload/matches" class="btn {{ 'btn-success' if matches_uploaded else 'btn-primary' }}">Matches</a>
            <a href="/upload/images" class="btn {{ 'btn-success' if images_uploaded else 'btn-primary' }}">Images</a>
            <a href="/upload/features" class="btn {{ 'btn-success' if features_uploaded else 'btn-primary' }}">Features</a>
            <a href="/calibrate" class="btn {{ 'btn-primary' if ready_for_calibration else 'btn-danger' }}">Calibrate Images</a>

        </div>
        <form action="/delete" method="post">
            <input type="submit" value="Delete All" class="btn btn-danger">
        </form>
    </div>
    

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>